@import './base.css';

body {
  background: url("/src/assets/bg.png") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}
